<div class="container spinnerContainer" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div class="container containerInside" *ngIf="!isLoading">
  <span *ngIf="Error" class="mat-error"> {{Error}} </span>
  
  <div class="add-button-header">
    <div class="titleInside">
      <h2>My Fridge - {{ fridge.name }}</h2>
      <button mat-button matTooltip="Edit fridge" class="buttonEdit" [routerLink]="['/fridge/edit', fridge.id]">
        <span class="material-icons mdc-fab__icon">create</span>
      </button>
      <button mat-button matTooltip="Delete fridge" class="buttonDelete" (click)="openDialog(fridge.name, fridge.id, 'fridge')">
        <span class="material-icons mdc-fab__icon">delete_outlined</span>
      </button>
    </div>

    <div>
      <button class="mdc-fab mdc-fab--extended" [routerLink]="['/fridge/floor/create']">
        <div class="mdc-fab__ripple"></div>
        <span class="material-icons mdc-fab__icon">add</span>
        <span class="mdc-fab__label">Add Floor</span>
      </button>
    </div>
  </div>
  <div>
    <p>{{ fridge.type }}</p>
  </div>
  <mat-tab-group mat-stretch-tabs *ngIf="floors.length > 0 && !isLoading" [selectedIndex]="selectTabs"
    (selectedIndexChange)="updateDataSource($event)">
    <mat-tab *ngFor="let floor of floors; let index = index" [label]="floor.name">
      <ng-template matTabContent>
        <div class="add-button-header" style="min-height: 5rem;">
          <div>
            <div>
              <mat-chip-list aria-orientation="horizontal" aria-label="food type" *ngFor="let type of floor.type">
                <mat-chip>{{type}}</mat-chip>
              </mat-chip-list>
              <p>Quantity food: {{ floor.qtyFood }}</p>
            </div>
          </div>
          <div>
            <button mat-button matTooltip="Edit floor" class="buttonEdit"
              [routerLink]="['/fridge/floor/edit', floor.id]">
              <span class="material-icons mdc-fab__icon">create</span>
              <span class="mdc-fab__label">EDIT</span>
            </button>
            <button mat-button matTooltip="Delete floor" class="buttonDelete"
              (click)="openDialog(floor.name, floor.id, 'floor')">
              <span class="material-icons mdc-fab__icon">delete</span>
              <span class="mdc-fab__label">DELETE</span>
            </button>
          </div>
        </div>

        <div class="toggleGroup">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle *ngIf="foodList.length > 0" checked="true" value="grid" matTooltip="Image view" matTooltipPosition="above">
              <span class="material-icons mdc-fab__icon">apps</span>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="foodList.length > 0" value="table" matTooltip="Table View (details)" matTooltipPosition="above">
              <span class="material-icons mdc-fab__icon">view_headline</span>
            </mat-button-toggle>
            <button mat-button matTooltip="Add element to floor" matTooltipPosition="above"
              [routerLink]="['/fridge/food/create', floor.id]">
              <span class="material-icons mdc-fab__icon">add_circle_outline</span>
              <span class="mdc-fab__label">ADD</span>
            </button>
          </mat-button-toggle-group>
        </div>
        <mat-spinner *ngIf="isLoadingBis"></mat-spinner>
        <div *ngIf="foodList.length > 0 && !isLoadingBis">
          <div *ngIf="group.value == 'table' && !isLoadingBis">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> quanity </th>
                  <td mat-cell *matCellDef="let row"> {{row.quantity}}{{row.unit_qty}} </td>
                </ng-container>

                <ng-container matColumnDef="expiration_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> expiration date </th>
                  <td mat-cell *matCellDef="let row"> {{row.expiration_date.substring(0,10)}} </td>
                </ng-container>

                <ng-container matColumnDef="date_of_purchase">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> date of purchase </th>
                  <td mat-cell *matCellDef="let row"> {{row.date_of_purchase.substring(0,10)}} </td>
                </ng-container>

                <ng-container matColumnDef="star" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu">
                      <span class="material-icons mdc-fab__icon">more_vert</span>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item matTooltip="Edit food" class="buttonEdit"
                        [routerLink]="['/fridge/food/edit', element.id]">
                        <span class="material-icons mdc-fab__icon">create</span>
                        <span class="mdc-fab__label">EDIT</span>
                      </button>
                      <button mat-menu-item matTooltip="Delete food" class="buttonDelete"
                        (click)="openDialog(element.name, element.id, 'food')">
                        <span class="material-icons mdc-fab__icon">delete</span>
                        <span class="mdc-fab__label">DELETE</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>

          <div id="foodList" *ngIf="group.value == 'grid' && !isLoadingBis">
            <div class="container">
              <div class="row foodList-container">

                <div *ngFor="let food of foodList" class="col-lg-4 col-md-6 foodList-item wow fadeInUp">
                  <div class="foodList-wrap">
                    <figure>
                      <img src={{food.image_food_path}} class="img-fluid" alt="">
                      <a class="link-edit" matTooltip="Edit food" [routerLink]="['/fridge/food/edit', food.id]"><i
                          class="material-icons mdc-fab__icon">create</i></a>
                      <a class="link-delete" matTooltip="Delete food" (click)="openDialog(food.name, food.id, 'food')"><i
                          class="material-icons mdc-fab__icon">delete</i></a>
                    </figure>

                    <div class="foodList-info">
                      <h4>{{food.name}}</h4>
                      <p>Quanity: {{food.quantity}}{{food.unit_qty}}</p>
                      <p>Expiration Date: {{food.date_of_purchase.substring(0,10)}} </p>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="info-text" *ngIf="foodList.length <= 0 && !isLoadingBis">No food added yet</p>

      </ng-template>
    </mat-tab>

  </mat-tab-group>
  <p class="info-text" *ngIf="floors.length <= 0 && !isLoading">No floor added yet</p>

</div>
