.spinnerContainer {
  padding: 2em 2em;
  margin: auto;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
  background: #202c40;
  margin-bottom: 3rem;
}

.titleInside {
    display: flex;
}

.toggleGroup {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.toggleGroup button {
    background: antiquewhite;
}

.toggleGroup button span {
    color: black;
}

.mat-tab-labels, .mat-tab-label {
    color: #D6CE15;
    text-shadow: 2px 2px 2px black;
}

/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #53900F;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

mat-paginator {
    margin-bottom: 2rem;
}

.mdc-image-list {
    column-count: 4;
}

th {
    width: unset;
}

td {
    width: 20%;
}


#foodList .foodList-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
  }
  
  #foodList .foodList-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  
  #foodList .foodList-item {
    height: 360px;
  }
  
  #foodList .foodList-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #foodList .foodList-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
  }
  
  #foodList .foodList-item figure .link-edit,
  #foodList .foodList-item figure .link-delete {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
  }
  
  #foodList .foodList-item figure .link-edit i,
  #foodList .foodList-item figure .link-delete i {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
  }
  
  #foodList .foodList-item figure .link-edit:hover {
    background: #53900F;
  }
  #foodList .foodList-item figure .link-delete:hover {
    background: #C3073E;
  }
  
  #foodList .foodList-item figure .link-edit:hover i,
  #foodList .foodList-item figure .link-delete:hover i {
    color: #fff;
  }
  
  #foodList .foodList-item figure .link-edit {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
  }
  
  #foodList .foodList-item figure .link-delete {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
  }
  
  #foodList .foodList-item figure:hover .link-edit {
    opacity: 1;
    left: calc(50% - 44px);
  }
  
  #foodList .foodList-item figure:hover .link-delete {
    opacity: 1;
    right: calc(50% - 44px);
  }
  
  /* FOODLIST INFO */

  #foodList .foodList-item .foodList-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 100px;
    border-radius: 0 0 3px 3px;
  }
  
  #foodList .foodList-item .foodList-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
    color: #333;
  }
  
  #foodList .foodList-item .foodList-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }

  /* When the input is not focused */
md-input-container label {
  color: red;
}

/* When the input is focused */
md-input-container.md-input-focused label {
  color: white;
}
