<div class="container creationContainer">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form id="msform" (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <!-- don't forget the "!", thus not isLoading-->
    <fieldset>
      <h2 class="fs-title">Signup</h2>
      <h3 class="fs-subtitle">Select or enter the needed info</h3>

      <span *ngIf="Error" class="mat-error"> {{Error}} </span>

      <mat-form-field floatlabel="auto">
        <mat-label>E-Mail</mat-label>
        <input matInput name="email" ngModel type="email" placeholder="example@mail.com" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">please enter valid email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel" required
          username>
        <mat-error *ngIf="usernameInput.invalid">please enter valid Username</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="password" minlength="8" ngModel [type]="hide ? 'password' : 'text'" placeholder="Password"
          #passwordInput="ngModel" #password1 required password>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-hint align="end">{{password1.value?.length || 0}}/8</mat-hint>
        <!-- <mat-error *ngIf="passwordInput.invalid">please enter valid password</mat-error> -->
        <mat-error *ngIf="password1.value?.length < 9">Password is to short</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="passwordConfirmation" minlength="8" ngModel [type]="hide ? 'password' : 'text'"
          placeholder="Repeat Password" #password2 #passwordInput="ngModel" required password>

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-hint align="end">{{password2.value?.length || 0}}/8</mat-hint>
        <!-- <mat-error *ngIf="passwordInput.invalid">please enter valid password</mat-error> -->
        <mat-error *ngIf="password2.value != password1.value">passwords don't match</mat-error>
      </mat-form-field>

      <button class="btn buttonForm" mat-raised-button color="primary" type="submit">Signup</button>
    </fieldset>
  </form>
</div>
