<div class="container creationContainer">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form id="msform" (submit)="onSaveFloor()" [formGroup]="form" *ngIf="!isLoading">
    <!-- don't forget the "!", thus not isLoading-->
    <fieldset>
      <h2 class="fs-title">{{ title }} Floor</h2>
      <h3 class="fs-subtitle">Select or enter the needed info</h3>

      <span *ngIf="Error" class="mat-error"> {{Error}} </span>

      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Floor Title/position">
        <mat-error *ngIf="form.get('name').invalid">please entered valid name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type of food inside</mat-label>
        <mat-select formControlName="type" multiple required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn buttonForm" mat-raised-button color="primary" type="submit">Save</button>
    </fieldset>
  </form>
  <a *ngIf="!isLoading" class="creationLinkBack" [routerLink]="['/fridge/floors']">back to Fridge repository</a>
</div>
