:host {
    display: block;
    margin-top: 1rem;
}

mat-spinner {
    margin: auto;
}

.accordion {
    background:
        linear-gradient(rgba(16, 33, 56, 0.8), rgba(1, 25, 140, 0.8));
}

mat-expansion-panel-header {
    background-color: whitesmoke;
}

.cdk-focused .expansionTitle {
    color: whitesmoke;
}

.add-button-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.add-button-header h2 {
    color: #3bffb3;
}

.buttonEdit {
    color: #873be3;
}

/* .fridge-container {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */

.fridge-container a {
    text-decoration: none;
    color: #000;
}

.fridge-img {
    height: 150px;
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fridge-author-img {
    height: 25px;
    border: 1px solid darkgray;
}

.fridge-details {
    font-size: 1.4em;
    color: whitesmoke;
}
