:host {
    display: block;
    margin-top: 1rem;
}

mat-spinner {
    margin: auto;
}

.add-button {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.add-button h2 {
    color: #3bffb3;
}

.fridge-container {
    border: 1px solid #efefee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background:
            linear-gradient(rgba(16, 33, 56, 0.8), rgba(1, 25, 140, 0.8));
}
.fridge-container a {
    text-decoration: none;
    color: #000;
}

.fridge-title {
    min-width: 300px;
}

.fridgeButtons a {
    color: white;
}

@media (max-width: 440px) {
    .fridge-title {
        min-width: 100px;
        max-width: 245px;
    }
}

.fridge-img {
    height: 150px;
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fridgeCreate-img {
    height: 100px;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fridge-author-img {
    height: 25px;
    border: 1px solid darkgray;
}

.fridge-details {
    font-size: .8em;
}

.btn {
    cursor: pointer;
}

.info-text {
    margin: auto;
    color: turquoise;
}