{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <div style="padding-bottom: 100px"></div>

<div class="container">
    <form id="msform" action="{{ path('login') }}" method="POST">
        <fieldset>
            <h2 class="fs-title">Login Page ✅</h2>
            <h3 class="fs-subtitle">Select or enter the needed info</h3>
            {% if error %}
                <span class="error">{{ error.messageKey| replace({"Invalid credentials." : "Invalid username or password."}) }}</span>
            {% endif %}
            
            <input type="text" name="_username" value="{{ last_username }}" placeholder="username"/>
            <input type="password" name="_password" placeholder="password"/>
            <button class="submit">login</button>
            <p class="message">Not registered? <a href="{{ path('user_registration') }}">Create an account</a></p>
        </fieldset>
    </form>
</div>
{% endblock %}
