{% extends 'base.html.twig' %}

{% block title %}New Food{% endblock %}

{% block body %}
    <div style="padding-bottom: 100px">

    </div>

    <div class="container creationContainer">
        <h1 class="creationTitle">Create new Food</h1>
        {{ include('food/register.html.twig') }}
        <a class="creationLinkBack" href="{{ path('floor_index', {'fridgeid': fridgeid}) }}">back to list</a>
    </div>


{% endblock %}
