{% extends 'base.html.twig' %}

{% block title %}Edit Floor{% endblock %}

{% block body %}
    <div style="padding-bottom: 100px"></div>
    <div class="container creationContainer">
        <h1 class="creationTitle">Edit Floor </h1>

        {{ include('floor/register.html.twig', {'button_label': 'Update'}) }}

        <a class="creationLinkBack" href="{{ path('floor_index', {'fridgeid': floor.idFridge.id}) }}">back to list</a>
    </div>
{% endblock %}
