{% extends 'base.html.twig' %}

{% block title %}Edit Floor{% endblock %}

{% block body %}
    <div style="padding-bottom: 100px"></div>
    <div class="container fridgeCreationContainer">
        <h1 class="fridgeCreationTitle">Edit Floor </h1>

        {{ include('floor/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('floor_index', {'fridgeid': floor.idFridge.id}) }}">back to list</a>
    </div>
{% endblock %}
