<mat-toolbar color="primary">
    <span><a routerLink ="">Messages</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">

    <a style="margin-left: 75px;" class="navbar-brand nowaste-brand" href="/">
        <img src="assets/images/LOGO.png" width="100%" height="100%" title="logo website" alt="logo">
        WASTE
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="margin-right: 75px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="nav-profile-img rounded-circle" src="assets/images/profile.png">
                </a>
                <div *ngIf="userIsAuthenticated" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" [routerLink]="['/fridge']" routerLinkActive="router-link-active">My fridge</a>
                        <a class="dropdown-item" (click)="onLogout()">Logout</a>
                </div>
                <div *ngIf="!userIsAuthenticated" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/login">Login</a>
                    <a class="dropdown-item" routerLink="/signup">Signup</a>
            </div>
            </li>
        </ul>
    </div>

</nav>