<div class="container creationContainer">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form id="msform" (submit)="onSaveFood()" [formGroup]="form" *ngIf="!isLoading">
    <!-- don't forget the "!", thus not isLoading-->
    <fieldset class="food">
      <h2 class="fs-title">{{ title }} your Food</h2>
      <h3 class="fs-subtitle">Select or enter the needed info</h3>

      <span *ngIf="Error" class="mat-error"> {{Error}} </span>

      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Fridge Title">
        <mat-error *ngIf="form.get('name').invalid">please entered valid title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type of food</mat-label>
        <mat-select formControlName="type" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of types" [value]="type">
              {{type}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="dateOfPurchase" [matDatepicker]="pickerD" placeholder="Date of purchase">
        <mat-datepicker-toggle matSuffix [for]="pickerD"></mat-datepicker-toggle>
        <mat-datepicker #pickerD></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="expirationDate" [matDatepicker]="picker" placeholder="Expiration date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="quantity" placeholder="Fridge Title">
        <mat-error *ngIf="form.get('name').invalid">please entered valid title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Favorite animal</mat-label>
        <mat-select formControlName="unitQty" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{unit}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn buttonForm" mat-raised-button color="primary" type="submit">Save</button>
    </fieldset>
  </form>
  <a *ngIf="!isLoading" class="creationLinkBack" [routerLink]="['/fridge/floors']">back to Fridge repository</a>
</div>
